.cartItem {
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
}

.cartItem img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.cartItem h3 {
    margin: 0;
}

.cartItem p {
    margin: 0 10px;
}

.cartItem button {
    padding: 5px 10px;
    border: none;
    background-color: #ff4d4d;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.cartItem button:hover {
    background-color: #ff1a1a;
}

.hide img{
    display: none;
}
